<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskbarFlyoutHost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TaskbarFlyoutHost.Properties.Settings>
            <setting name="doAnimation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="trayVolume" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="trayNetwork" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="animationType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="openInSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glass" serializeAs="String">
                <value>False</value>
            </setting>
        </TaskbarFlyoutHost.Properties.Settings>
    </userSettings>
</configuration>